body{
    box-sizing: border-box;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header h1{

    display: flex;
    justify-content: flex-start;
    width: 300px;
}


nav ul {
    display: flex; /* Arrange nav items horizontally */
    list-style: none; /* Remove bullets */
    margin: 0;
    padding: 0;
    width: 30rem;
    justify-content: space-around;
  }
  
  nav ul li {
    margin-left: 1rem; /* Add spacing between nav links */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: lighter;
  }
  
  nav ul li a:hover {
    color: orangered; /* Add a hover effect */
  }

.dropDown{
    display: none;
}

h1 {
  width: 200px;
  display: flex;
  justify-content: center;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topContent{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: top;
    width: 65rem;
}
.blockImage{
    display: flex;
    width: 650px;
    flex-direction: column;
}

.blockImage img{
    width: 650px;
}

.web3{
   width: 500px; 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: top;

   margin: 0px;
   width: 650px;
}

.web3 h2{
    display: flex;
    width: 250px;
    height: 150px;
    font-size: 35px;
    font-weight: 750;
    justify-content: center;
    align-items: center;
}

.evolution{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
}

.evolution p{
    display: flex;
    align-items: center;
    text-wrap: wrap;
    height: 100px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.evolution a{
    display: flex;
    text-decoration: none;
    color: black;
    letter-spacing: 8px;
    background-color: orangered;
    height: 45px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
    text-shadow: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.evolution a:hover{
    background-color: #03001C;
    color: white;
}

.highlights {
    background-color: #03001C;
    color: white;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlights h3{
    color: orange;
    font-size: 30px;
    display: flex;
    width: 90%;
    height: 55px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    align-items: center;
}

.popup{
    border-bottom: 1px solid white;
    width: 250px;
    justify-items: flex-start;
}

.popup p {
    font-weight: lighter;
    font-size: 14px;
}

.popup a{
    text-decoration: none;
    color: white;
    
}

.popup h4 a:hover{
    color: orange;
}

#lastPopup {
    border: none;
}



.other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: 200px;
    width: 65rem;
}



.articles{
    display: flex;
    gap: 10px;
    width: 500px;
}

.articles img {
    height: 120px;

}

.computer{
    display: flex;
    width: 200px;
    flex-direction: column;
    margin: 0;
}

.computer h5{
    font-weight: bolder;
    font-size: larger;
    color: orangered;
    margin: 0;
}

.computer h6{
    margin: 0;
    padding: auto;
    font-size: 15px;
}

.computer h6 a{
    text-decoration: none;
    color: black;
    
}

.computer h6 a:hover{
    color: orangered;
}


@media screen and (max-width: 768px) {
    .topContent {
      flex-direction: column;
      width: 100%;
    }

    .web3 {
      flex-direction: column;
      width: 200px;
      margin: 0;
    }
    .evolution {
      width: 300px;
      height: 200px;
    }

    .blockImage {
        width: 250px;
        height: 40rem;
        margin-top: 20px;
    }

    .blockImage img{
        width: 240px;
        height: 200px;
    }

    .headline{
        justify-content: center;
        align-items: center;
    }

    .articles{
        width: 240px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .body{
        justify-content: center;
        align-items: center;
    }
    .header {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 305px;
    }
    nav ul {
        width: 30px;
         display: none; 
        background-image: url(images/icon-menu.svg);
    }

    .dropDown{
        display: block;
    }
    .other {
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
      width: 250px;
      margin-top: 50px;
    }

    .highlights{
        width: 260px;
    }

    .web3{
        margin: 0;
    }
  }
  
